body {
    background-color: black;
}

table {
    color: #AFAFAF;
    background-color: #000000;
    table-layout: auto;
    width: 70%;
    border-collapse: collapse;
    border-radius: 10px 10px 10px 10px;
}

th {
    font-weight: bolder
}

th, td {
    padding: 4px 6px;
    border: 2px solid #A0A0A0;
    font-size: 100%;
    text-align: center;
}

.king {
    color: yellow;
    box-shadow: 2px 2px 4px 2px yellow;
}