<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<table>
    <tr>
        <th>Raise balance?</th>
        <th>Account number</th>
        <th>Account name</th>
        <th>Animal type</th>
        <th>Balance</th>
        <th>Is king?</th>
        <th>Is good?</th>
    </tr>
    <th:block th:each="account : ${accounts}">
        <tr th:class="${account.king} ? king">
            <td>
                <form th:action="@{'/raise/' + ${account.name}}" method="post">
                    <input type="submit" value="Raise" title="tajtl"/>
                </form>
            </td>
            <td th:text="${accountStat.index}+1"></td>
            <td th:text="${account.name}"></td>
            <td th:text="${account.animalType}"></td>
            <td th:text="|${#numbers.formatDecimal(account.balance,0,'WHITESPACE',2,'POINT')} ${#strings.capitalize(account.animalType)}|"></td>
            <td th:text="${account.king}"></td>
            <td th:text="${account.good} ? 'Good One' : 'Bad guy'"></td>
        </tr>
    </th:block>
</table>
</body>
</html>