<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Submit Post</title>
</head>
<body>
<form action="/submit" method="post">
    <div>
        <label>Submit a new Post</label>
        <div>
            <label>Title:</label>
            <input type="text" name="title" required>
        </div>
        <div>
            <label>URL:</label>
            <input type="text" name="url" required>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
</form>
</body>
</html>